flask==2.3.3
flask-cors==4.0.0
langchain-chroma==0.0.3
langchain-huggingface==0.0.2
langchain-text-splitters==0.0.1
langchain-community==0.0.10
langchain==0.0.350
ctransformers==0.2.27
bcrypt==4.0.1
sentence-transformers==2.2.2
chromadb==0.4.15
pypdf==3.17.0
docx2txt==0.8
transformers==4.35.2
torch==2.1.0
numpy==1.24.3
